.Card {
  border: 2px solid black;
  margin: 1em;
  margin-top: 0em;
  margin-bottom: 1em;
  width: 18em;
  min-width: 18em;
  min-height: 3em;
  max-height: 12em;
  overflow: hidden;
  padding: 0.2em;
  background: rgb(230, 230, 230);
  text-align: left;
}

.Card div.Editable {
  font-size: 80%;
}

.Card div.Editable span.caption {
  font-weight: bold;
}

.Card div.notEditable {
  font-weight: bold;
  display: inline-block;
  margin-right: 1em;
}
.Card div.notEditable span.caption {
  display: none;
}

.App {
  font-family: sans-serif;
  text-align: center;
}
body {
  max-height: 100vh;
}
div.Pipeline {
  width: 100vw;
  min-width: 100vw;
  max-height: 100%;
}
div.Columns {
  display: inline-flex;

  vertical-align: top;
}

div.columns > * {
  flex: 1;
}

div.Columns div.columnContainer {
  padding: 2em;
  display: inline-block;
  border-collapse: collapse;
  border-left: 1px solid grey;
  min-height: 100%;
  max-height: 100%;
  min-width: auto;
}
div.Columns div.columnContainer:first-child {
  border-left: none;
}

div.Columns div.columnContainer h2 {
  text-align: center;
}

div.Columns div.columnContainer div.column {
  max-height: 90vh;
  min-height: 90vh;
  display: inline-block;
  overflow-y: scroll;
  border: none;
  min-width: 20em;
  flex-direction: column;
}

.cardModalTitle div {
  display: inline-block;
  margin-right: 1em;
}
