.Card {
  border: 2px solid black;
  margin: 1em;
  margin-top: 0em;
  margin-bottom: 1em;
  width: 18em;
  min-width: 18em;
  height: 12em;
  min-height: 12em;
  overflow: hidden;
  padding: 0.2em;
  background: rgb(200, 200, 200);
  text-align: left;
}

.Card div.Editable {
  font-size: 80%;
}

.Card div.notEditable {
  font-weight: bold;
  display: inline-block;
  margin-right: 1em;
}
.Card div.notEditable span.caption {
  display: none;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

div.Pipeline {
  width: 100%;
  min-width: 100%;
}
div.Columns {
  display: table-row;
  width: 100%;
  min-width: 100%;
  text-align: center;
  vertical-align: top;
}

div.Columns div.columnContainer {
  padding: 2em;
  display: table-cell;
  border-collapse: collapse;
  border-left: 1px solid grey;
  height: 100%;
  min-height: 100%;
}
div.Columns div.columnContainer:first-child {
  border-left: none;
}

div.Columns div.columnContainer h2 {
  text-align: center;
}

div.Columns div.columnContainer div.column {
  height: 100%;
  min-height: 50em;
  display: flex;
  overflow-y: scroll;
  border: 1px solid red;
  min-width: 20em;
  flex-direction: column;
}
